<html>
<body>
  <p>A password reset has been requested for your <a href="<%= @blog.base_url%>"><%= @blog.blog_name %></a> account.</p>

  <%= render 'mail_header' %>
    <p>Click the link below to reset your password:</p>

    <p><a href="<%= @reset_url %>"><%= @reset_url %></a></p>

    <p>This link will expire in 2 hours.</p>

    <p>If you did not request this password reset, you can safely ignore this email. Your password will remain unchanged.</p>
  </div>
</body>
</html>
