<% @page_heading =  _("Editing tag ") + " #{h @tag.display_name}" %>

<%= form_tag "/admin/tags/edit/#{@tag.id}", method: :post do %>
<%= error_messages_for 'tag' %>
<label for="tag_display_name"><%= _("Name")%>:</label>
<div class='input'>
	<%= text_field 'tag', 'display_name', :class => 'medium', :autocomplete => 'off' %>
</div>
<div class='actions'>
	<%= cancel_or_save %>		
</div>
<% end %>
