<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#993300">
<%= page_header %>
<title><%=h page_title %></title>
<link rel="stylesheet" href="/stylesheets/theme/application.css" media="all">
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="alternate icon" href="/favicon.ico">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-tomorrow.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/line-numbers/prism-line-numbers.min.css">
<link rel="stylesheet" href="/stylesheets/flickr_sidebar.css">
<link rel="stylesheet" href="/stylesheets/amazon_sidebar.css">
<link rel="stylesheet" href="/stylesheets/x_sidebar.css">
</head>
<body>
<div id="container">
<header id="header">
<h1><%= link_to this_blog.blog_name, this_blog.base_url %></h1>
<% if this_blog.blog_subtitle.present? -%>
<h2 class="header-subtitle"><%= this_blog.blog_subtitle %></h2>
<% end -%>
</header>
<div id="page">
<main id="content">
<%= yield %>
</main>
<aside id="sidebar">
<%= render_sidebars %>
</aside>
</div>
<footer id="footer">
<p>
<%= link_to this_blog.blog_name, this_blog.base_url %> &middot;
<% if logged_in? -%>
<%= link_to _("Admin"), admin_dashboard_path %> &middot;
<%= link_to _("Log Out"), logout_path %>
<% else -%>
<%= link_to _("Log In"), login_path %>
<% end -%>
</p>
<ul>
<li>
Powered by <%= link_to 'Typo of Theseus', 'https://github.com/tghastings/typo' %> &middot;
styled with <%= link_to 'scribbish 2026', '#' %>
</li>
</ul>
</footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-core.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
<script src="/javascripts/prism-setup.js"></script>
<script src="/javascripts/theme/local-time.js"></script>
</body>
</html>
