<% @page_heading = _('Files') %>

<table class="zebra-striped clearfix">
  <thead>
    <tr class='norborder'>
      <th colspan='5'>
          <%= render 'upload' -%>
      </td>
    </tr>
    <tr class='noborder'>
      <th><%= _("Filename")%> <small>(<%= _('right-click for link')%>)</small></th>
      <th><%= _("Content Type")%></th>
      <th><%= _("File Size")%></th>
      <th><%= _("Date")%></th>
    </tr>
  </thead>
<%= render_void_table(@resources.size, 6) %>
<% for upload in @resources -%>
<tr <%= alternate_class -%>>
  <td>
  <% if upload.file.attached? %>
    <% if upload.mime =~ /image/ %>
      <a href='<%= rails_blob_path(upload.file, only_path: true) %>' rel='lightbox'>
        <% if upload.file.variable? %>
          <%= image_tag upload.file.variant(resize_to_limit: [100, 100]), alt: upload.filename %>
        <% else %>
          <%= image_tag rails_blob_path(upload.file, only_path: true), width: 100, alt: upload.filename %>
        <% end %>
      </a>
      <p>
        <small>
          <% if upload.file.variable? %>
            <%= link_to(_("Thumbnail"), rails_representation_path(upload.file.variant(resize_to_limit: [100, 100]), only_path: true)) %> |
            <%= link_to(_("Medium size"), rails_representation_path(upload.file.variant(resize_to_limit: [500, 500]), only_path: true)) %> |
          <% end %>
          <%= link_to(_("Original size"), rails_blob_path(upload.file, only_path: true)) %> |
          <%= link_to _("delete"), "/admin/resources/destroy/#{upload.id}?search=#{params[:search]}&page=#{params[:page]}", data: { confirm: _("Are you sure?") }, method: :post %>
        </small>
      </p>
    <% else %>
      <%= link_to(upload.filename, rails_blob_path(upload.file, only_path: true), rel: 'lightbox') -%>
      <small>
        | <%= link_to _("delete"), "/admin/resources/destroy/#{upload.id}?search=#{params[:search]}&page=#{params[:page]}", data: { confirm: _("Are you sure?") }, method: :post %>
      </small>
    <% end %>
  <% else %>
    <span class="text-muted"><%= upload.filename %> (no file attached)</span>
  <% end %>
  </td>
  <td>
    <%= upload.mime %>
  </td>
  <td><%=h upload.size rescue 0 -%> bytes</td>
  <td><%= format_date upload.created_at -%></td>
</tr>
<% end -%>
  <%= display_pagination(@resources, 6)%>
</table>
