<article class="atomentry" id="article-<%= article.id %>">

  <header>
    <h2 class="title">
      <%= (controller.action_name.include? 'permalink') ? article.title : link_to_permalink(article, article.title) %>
<% if article.published_comments.size > 0 -%>
      <span class="comment_count"><%= article.published_comments.size %></span>
<% end -%>
    </h2>
    <p class="author">
      <%= _("Posted by") %> <cite><%= author_link(article) %> </cite>
      <abbr class="published" title="<%= article.published_at.xmlschema %>">
        <time datetime="<%= article.published_at.iso8601 %>"><%= display_date_and_time article.published_at %></time>
      </abbr>
<% unless article.categories.empty? -%>
      in <%= category_links(article, "").html_safe %>
<% end -%>
<% unless article.tags.empty? -%>
      &middot; <%= tag_links(article, "").html_safe %>
<% end -%>
    </p>
  </header>

  <div class="content">
    <%= render 'articles/protected_article_content', { :article => article } %>
  </div>

  <footer>
    <ul class="meta">
      <li>
<% if logged_in? -%>
        <a href="/admin/content/edit/<%= article.id %>"><%= _("edit") %></a> &middot;
<% end -%>
<% if article.allow_pings? -%>
        <%= trackbacks_link(article) %> &middot;
<% end -%>
<% if article.allow_comments? -%>
        <%= comments_link(article) %> &middot;
<% end -%>
        <a href="<%= article.permalink_url %>" rel="bookmark"><%= _("permalink") %></a> &middot;
        <a href="<%= @auto_discovery_url_rss %>">RSS</a> &middot;
        <a href="<%= @auto_discovery_url_atom %>">Atom</a>
      </li>
    </ul>
  </footer>

</article>
