<div class='row'>
  <div class='span6 offset5'>
    <div class='well'>
      <%= form_tag({ action: "reset_password", token: params[:token] }, method: :post) do %>
      <div class='clearfix'>
        <h2><%= _("Set new password") %></h2>
      </div>
      <div id="flash"><%= render_the_flash %></div>
      <div class='clearfix'>
        <%= password_field(:user, :password, { class: 'login', placeholder: _("New password") }) %>
      </div>
      <div class='clearfix'>
        <%= password_field(:user, :password_confirmation, { class: 'login', placeholder: _("Confirm password") }) %>
      </div>
      <div class='clearfix'>
        <input type="submit" name="submit" class="btn info" value="<%= _('Reset password') %>" />
      </div>
      <div class='clearfix'>
        <p>
          <%= link_to _('Back to login'), action: 'login' %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
</div>
